<div class="row">
  <div class="col-lg-6 col-md-6">
    <form (ngSubmit)="addItem()">
      <div class="form-group">
        <label for="listItem">List item</label>
        <input
          #inputEl
          [(ngModel)]="inputValue"
          type="text"
          name="inputValue"
          class="form-control"
          placeholder="Enter list item"
          autocomplete="off"
        />
      </div>
      <button
        class="btn btn-primary add-btn"
        type="submit"
        [disabled]="enableAddBtn()"
      >
        Add to list
      </button>
    </form>
    <div class="alert alert-danger error-msg" *ngIf="displayError" role="alert">
      Entered value already exists in list.
    </div>
  </div>
</div>
<hr />
<app-display-list></app-display-list>
